html {
    background: rgb(53, 64, 88);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
    font-size: 12pt;
}

body { 
    max-width: 1100px;
    margin: 0 auto;
    padding: 120px 0 0;

}

h1 {
    font-size: 26pt;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;

}

.nav {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 22px;    

}
.nav a {
    padding: 20px;
    background: #dadada;
    color: #333;
    font-size: 20px;
    border: 1px solid #eee;
    margin: 20px 40px 0;

}

.linkit {
    float: left;
    padding-right: 20px;
    width: 15%;
    text-align: right;
}

.linkit a {
    color: #dadada;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;

}

.massa {
    float: left;
    background: #dadada;
    width: 75%;
    max-width: 750px;
    padding: 20px;
}

.massa img {
    max-width: 150px;
    padding: 10px;
    float: left;
}

.massa table { 
    border-collapse: collapse;
    border: 1px solid #333;
    font-size: 11pt;
    width: 400px;
    margin: auto;
}

.massa th, .massa td {
    padding: 10px;
    text-align: left;
    border: 0;
    border-bottom: 1px solid #333;
    
}

.massa tr:nth-child(even) {background-color: #ccc;}
