html {
    background: #fafafa;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
}

body { 
    max-width: 800px;
    margin: 0 auto;

}

h1 {

}

div .nav {

}

div .linkit {}

div .massa {}

