html {
    background: rgb(53, 64, 88);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
    font-size: 12pt;
}

body { 
    max-width: 900px;
    margin: 0 auto;
    padding: 120px 0 0;

}

a { text-decoration: none;}


h1 {
    font-size: 36pt;
    line-height: 20pt;
    font-weight: bold;

    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 75px;
    text-align: right;
    text-transform: lowercase;
    font-style: italic;
    letter-spacing: 1px;

}

.nav {
    width: 100%;
    margin: 0 200px 5px;
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav a {
    padding: 10px 20px 5px 20px;
    background: #9a9a9a;
    color: #333;
    font-size: 20px;
    border: 1px solid #eee;
    border-bottom: 0;
    margin: 0 10px 0px 0;
    border-radius: 13px 13px 0 0;
    font-style: italic;
    font-weight: bold;

}
.nav a:hover, .nav a:active, a.current {
    background: #dadada;
}

.linkit {
    float: left;
    padding-right: 20px;
    width: 20%;
    max-width: 140px;
    text-align: left;
    text-transform: lowercase;
    font-size: 20pt;
    line-height: 19pt;
    color: #dadada;
}

.linkit ul {
    list-style-type: circle;

}

li:hover {
    list-style-type: disc;
}

.linkit a {
    color: #dadada;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.linkit a:hover {
    opacity: 0.5;
}



.massa {
    float: left;
    background: #dadada;
    width: 75%;
    max-width: 700px;
    padding: 20px;
    font-size: 12pt;
    line-height: 14pt;
    text-align: justify;
    border-radius: 13px;
    padding-bottom: 100px;
    margin-bottom: 120px;
}

.massa img {
    max-width: 200px;
    padding: 10px;
    padding-left: 0;
    float: left;
    border-radius: 30px;
}

.massa table { 
    border-collapse: collapse;
    border: 1px solid #333;
    font-size: 11pt;
    width: 500px;
    margin: auto;
}

.massa th, .massa td {
    padding: 10px;
    text-align: left;
    border: 0;
    border-bottom: 1px solid #333;
    
}

.massa tr:nth-child(even) {background-color: #ccc;}
